version: '3.3'

#############################################################
############################# VOLUMES #######################
#############################################################
volumes:
# MARIADB
  mariadb-master:
    driver: ${VOLUME_DRIVER}
  mariadb-slave:
    driver: ${VOLUME_DRIVER}
  mysql-master:
    driver: ${VOLUME_DRIVER}
  mysql-slave:
    driver: ${VOLUME_DRIVER}
# REDIS
  redis:
    driver: ${VOLUME_DRIVER}
# WORKSPACE
  composer:
    driver: ${VOLUME_DRIVER}
#ELASTICSEARCH
  elasticsearch:
    driver: ${VOLUME_DRIVER}


#############################################################
############################# SERVICES ######################
#############################################################
services:
# SONARQUBE
  sonarqube:
    build:
      context: ./Sonarqube
      dockerfile: Dockerfile
      args:
      - CONTAINER_VERSION=${SONARQUBE_VER}
    restart: always
    ports:
      - "9000:9000"
      - "9092:9092"
    env_file:
      - ./Sonarqube/.env

# COMPOSER
  workspace :
    build:
      context: ./Workspace
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${PHP_VER}
        - PHP_EXTENSION=${PHP_EXTENSION}
    restart: always
    tty: true
    stdin_open: false
    volumes:
      - ./Source:/var/www/html
      - composer:/root/.composer
    env_file:
      - ./Workspace/.env
    extra_hosts:
      - "${HOST1}:${HOST_IP}"
      - "${HOST2}:${HOST_IP}"
      - "${HOST3}:${HOST_IP}"
      - "${HOST4}:${HOST_IP}"
      - "${HOST5}:${HOST_IP}"
      - "${HOST6}:${HOST_IP}"

# CADVISOR
  cadvisor :
    build:
      context: ./Cadvisor
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${CADVISOR_VER}
    restart: always
    ports:
      - "8085:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - ./Cadvisor/.env

# NGINX
  nginx:
    build:
      context: ./Nginx
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${NGINX_VER}
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./Source:/var/www/html
    env_file:
      - ./Nginx/.env
    extra_hosts:
      - "${HOST1}:${HOST_IP}"
      - "${HOST2}:${HOST_IP}"
      - "${HOST3}:${HOST_IP}"
      - "${HOST4}:${HOST_IP}"
      - "${HOST5}:${HOST_IP}"
      - "${HOST6}:${HOST_IP}"
    depends_on:
      - php-fpm
      - mariadb-master
    links:
      - php-fpm

# ADMINER
  adminer:
    build:
      context: ./Adminer
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${ADMINER_VER}
    ports:
      - "8081:8080"
    restart: always
    env_file:
      - ./Adminer/.env
    depends_on:
      - mariadb-master
# MYSQL
  mysql-master:
    build:
      context: ./Mysql-Master
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${MYSQL_VER}
    # ports:
    #   - "3306:3306"
    env_file:
      - ./Mysql-Master/.env
    volumes:
      - mysql-master:/var/lib/mysql
      - ~/dumps:/dumps

  # https://www.tecmint.com/mysql-master-slave-replication-on-centos-rhel-debian/
  mysql-slave:
    build:
      context: ./Mysql-Slave
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${MYSQL_VER}
    # ports:
    #   - "3306:3306"
    env_file:
      - ./Mysql-Slave/.env
    volumes:
      - mysql-slave:/var/lib/mysql

# MARIADB
  mariadb-master:
    build:
      context: ./MariaDB-Master
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${MARIADB_VER}
    # ports:
    #   - "3306:3306"
    env_file:
      - ./MariaDB-Master/.env
    volumes:
      - mariadb-master:/var/lib/mysql

  # https://www.tecmint.com/mariadb-master-slave-replication-on-centos-rhel-debian/
  mariadb-slave:
    build:
      context: ./MariaDB-Slave
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${MARIADB_VER}
    # ports:
    #   - "3306:3306"
    env_file:
      - ./MariaDB-Slave/.env
    volumes:
      - mariadb-slave:/var/lib/mysql

# PHP-FPM
  php-fpm:
    build:
      context: ./Php-fpm
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${PHP_VER}
        - PHP_EXTENSION=${PHP_EXTENSION}
    env_file:
      - ./Php-fpm/.env
    volumes:
      - ./Source:/var/www/html

# REDIS
  redis:
    build:
      context: ./Redis
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${REDIS_VER}
    env_file:
      - ./Redis/.env

# ELASTIC SEARCH
  elastic-search:
    build:
      context: ./Elastic-Search
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${ELASTIC_SEARCH_VER}
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    depends_on:
      - php-fpm
    env_file:
      - ./Elastic-Search/.env

# SUPERVISOR
  supervisor:
    build:
      context: ./Supervisor
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${PHP_VER}
        - PHP_EXTENSION=${PHP_EXTENSION}
    ports:
      - 9001:9001
    env_file:
      - ./Supervisor/.env
    extra_hosts:
      - "${HOST1}:${HOST_IP}"
      - "${HOST2}:${HOST_IP}"
      - "${HOST3}:${HOST_IP}"
      - "${HOST4}:${HOST_IP}"
      - "${HOST5}:${HOST_IP}"
      - "${HOST6}:${HOST_IP}"
    volumes:
      - ./Source:/var/www/html
      - ./Supervisor/config:/etc/supervisor/config

  # BROWSERLESS
  browserless:
    build:
      context: ./Browserless
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${BROWSERLESS_VER}
    env_file:
      - ./Browserless/.env
    extra_hosts:
      - "${HOST1}:${HOST_IP}"
      - "${HOST2}:${HOST_IP}"
      - "${HOST3}:${HOST_IP}"
      - "${HOST4}:${HOST_IP}"
      - "${HOST5}:${HOST_IP}"
      - "${HOST6}:${HOST_IP}"

  # NodeJs
  mmtinyurl:
    build:
      context: ./NodeJs
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${NODEJS_VER}
    working_dir: /var/www/html/urlshortner
    tty: true
    command: "npm start"
    volumes:
      - ./Source:/var/www/html
    env_file:
      - ./NodeJs/.env
    extra_hosts:
      - "${HOST1}:${HOST_IP}"
      - "${HOST2}:${HOST_IP}"
      - "${HOST3}:${HOST_IP}"
      - "${HOST4}:${HOST_IP}"
      - "${HOST5}:${HOST_IP}"
      - "${HOST6}:${HOST_IP}"

  # GoLang
  mmtinyurl-backend:
    build:
      context: ./GoLang
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${GOLANG_VER}
    volumes:
      - ./Source/urlshortner-backend:/usr/src/app
    command: "go run app.go"
    tty: true
    ports:
      - 8084:8080
    env_file:
      - ./GoLang/.env

# NEXTCLOUD
  nextcloud:
    build:
      context: ./NextCloud
      dockerfile: Dockerfile
      args:
        - CONTAINER_VERSION=${NEXTCLOUD_VER}
    volumes:
      - ./Source/nextcloud:/var/www/html
    ports:
      - 8005:80
    env_file:
      - ./NextCloud/.env
    depends_on:
      - nginx
      - mariadb-master
      - redis
    extra_hosts:
      - "${HOST1}:${HOST_IP}"
      - "${HOST2}:${HOST_IP}"
      - "${HOST3}:${HOST_IP}"
      - "${HOST4}:${HOST_IP}"
      - "${HOST5}:${HOST_IP}"
      - "${HOST6}:${HOST_IP}"
      - "${HOST7}:${HOST_IP}"
      - "${HOST8}:${HOST_IP}"