# Mysql database server configuration file.
[mysqld]
# https://stackoverflow.com/questions/44431961/what-is-the-difference-between-binlog-do-db-and-replicate-do-db
# CHANGE MASTER TO MASTER_HOST='mysql-master', MASTER_USER='docker_slave', MASTER_PASSWORD='slave', MASTER_PORT=3306, MASTER_LOG_FILE='mysql-bin.000003', MASTER_LOG_POS=1447, MASTER_CONNECT_RETRY=10;
#bind-address = 0.0.0.0
server_id=2
replicate-do-db=database1
replicate-do-db=database2